@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: rgb(191, 186, 195);
    width: 100%;
    position: relative;
    transition: all 0.4s;
}

nav .logo {
    padding: 0px 20px;
}

nav .links {
    display: flex;
    gap: 30px;
    padding: 0 20px;
}

nav .links h3 {
    cursor: pointer;
}

.hidden {
    display: none !important;
}

.hamburger,
.close {
    font-size: 30px;
    padding: 0 10px;
    cursor: pointer;
    font-weight: 800;
}

.hamburger, .close {
    display: none;
}

.links h3 a{
    text-decoration: none;
    color: #000;
}

@media (max-width: 720px) {
    .links {
        position: fixed;
        top: 60px;
        right: -100%;
        width: 60%;
        text-decoration: underline;
        height: 100vh;
        background-color: rgb(191, 186, 195);
        flex-direction: column;
        justify-content: center;
        gap: 40px;
        font-size: 23px;
        text-align: center;
        transition: transform 0.5s ease-in-out;
    }

    .links.show {
        transform: translateX(-130%);
    }

    .hamburger {
        display: block;
    }

    .close.hidden {
        display: none;
    }

    .hamburger.hidden {
        display: none;
    }

    .close {
        display: block;
    }
}
